<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>github issues</title>
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="styles/main.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>

  </head>
  <body>
    <div>
      <input id="token" name="token" placeholder "Enter token here" />
      <input id="url" name="url" placeholder "https://api.github.com/repos/shanwynn/my-proj/issues"
      value= "https://api.github.com/repos/shanwynn/my-proj/issues" />
      <button>UNLOCK YOUR ISSUES!</button>
      <h1>You currently have <span id="icount"></span> issues.</h1>
      <div id="issues"></div>
      <script id="iTemplate" type="text/template"></script>
        <h2 id="iTitle"><a href="<%= html_url %>"<%= title %></a></h2>
        <h2 id="iState"><%= state %></h2>
        <h2 id="iNumber"><%= number %></h2>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>
